html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    text-align: center;
    color: white;
    background-color: teal;
    padding: 0px;
    margin-top: auto;
}

form {
    border: 1px solid #ccc;
    padding: 1rem;
    position: absolute;
    width: 750px;
    top: 240px;
    left: 130px;
}

input,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form button {
    display: block;
    padding: 0.5rem 1rem;
    background: hsl(120, 56%, 40%);
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 5rem;
    margin-left: auto;
}

header {
    text-align: center;
    background-color: teal;
    padding: 30px;
}

nav {
    display: flex;
    flex-direction: column;
    float: inline-start;
}

li {
    padding-bottom: 7px;
    margin: 8px;
    margin-left: 0px;
    
}

nav a:link {
    color: teal;
    text-decoration-line: none;
}

nav a:visited {
    color: teal;
}

ul {
    list-style: none;
    margin-bottom: 100px;
    margin-right: 13px;
}

.img {
    width: 150px;
    height: 120px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    li {
      display: flex;
      flex-direction: row;
    }
}